<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{$SiteName/}_首页</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="/dist/css/animate.min.css" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
</head>
<body>
<div style="position:absolute; top:50%; margin-top:-40px; width:100%; text-align:center;"><a href="/"><img style="height:80px" src="{$LogoUrl/}" alt="{$SiteName/}" /></a></div>
</body>
</html>