<?xml version="1.0"?>
<PlatAPI>
  <SinaKey>1061254323</SinaKey>
  <SinaSecret>f09a54b93e04f31fe88dfe6250616a0c</SinaSecret>
  <SinaCallBack>http://www.1th.cn/Plat/Common/GetViBoToken.aspx?s=sina</SinaCallBack>
  <QQKey>101187045</QQKey>
  <QQCallBack>http://www.1th.cn/Plat/Test/APPBack.aspx</QQCallBack>
  <WXPay_APPID>wxe4703a7618738bed</WXPay_APPID>
  <WXPay_APPSecret>edd026c4b574328cd3d3c930a865fe64</WXPay_APPSecret>
  <WXPay_MCHID>1342097701</WXPay_MCHID>
  <WXPay_Key>asdf5as5df5asdf5sda5fs5daf5sadf5</WXPay_Key>
</PlatAPI>